Repository b12k/homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm _prettier -c, pnpm stylelint, pnpm eslint

.lintstagedrc:

{
  "*": ["pnpm _prettier -c"],
  "*.{css,scss,vue,STYLELINT}": ["pnpm stylelint"],
  "*.{ts,vue,ESLINT}": ["pnpm eslint"]
}

feat: latest dockerfile node v
  Dockerfile
Due: pnpm _prettier -c

feat: latest dockerfile node v (#8)
  Dockerfile
Due: pnpm _prettier -c

feat: build with rspack
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  rspack/config.base.ts
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/env.ts
  rspack/loaders.ts
  rspack/plugins.ts
  rspack/utils.ts
  src/client/components/base/base-cookie-consent.vue
  src/client/pages/page-projects.vue
  src/server/middleware/error.middleware.ts
  src/server/middleware/ssr.middleware.ts
  webpack/config.browser.ts
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

chore: some tweaks
  package.json
  src/client/components/base/base-cookie-consent.vue
  webpack/config.browser.ts
  webpack/config.server.ts
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

chore: rspack and latest deps
  .env.example
  package.json
  pnpm-lock.yaml
  rspack/env.ts
  src/client/components/base/base-cookie-consent.vue
  src/client/components/base/base-image.vue
  src/client/components/open-source/oss-card.vue
  src/client/components/open-source/types.ts
  src/server/middleware/health.middleware.ts
  tsconfig.json
  webpack/config.base.ts
  webpack/config.browser.ts
  webpack/config.server.ts
  webpack/env.ts
  webpack/loaders.ts
  webpack/plugins.ts
  webpack/utils.ts
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

feat: update deps and rspack
  .env.example
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  rspack/config.base.ts
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/env.ts
  rspack/loaders.ts
  rspack/plugins.ts
  rspack/utils.ts
  src/client/components/base/base-cookie-consent.vue
  src/client/components/base/base-image.vue
  src/client/components/open-source/oss-card.vue
  src/client/components/open-source/types.ts
  src/client/pages/page-projects.vue
  src/server/middleware/error.middleware.ts
  src/server/middleware/health.middleware.ts
  src/server/middleware/ssr.middleware.ts
  tsconfig.json
  webpack/config.base.ts
  webpack/config.browser.ts
  webpack/env.ts
  webpack/loaders.ts
  webpack/plugins.ts
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

feat: updated deps
  .husky/pre-commit
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/client/components/base/base-cookie-consent.vue
  src/client/components/base/index.ts
  src/client/components/home/floating-link.vue
  src/client/create-app.ts
  src/client/entry.browser.ts
  src/client/entry.server.ts
  src/client/router/routes.ts
  src/server/middleware/helmet.middleware.ts
  src/server/middleware/language.middleware.ts
  src/server/services/cache/cache.service.ts
  src/server/services/context-builder.service.ts
  src/server/services/idempotency-key.service.ts
  src/server/services/ssr-assets.service.ts
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

chore: dependencies upgrade
  .gitignore
  docker-compose.yaml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  rspack/config.browser.ts
  rspack/config.server.ts
Due: pnpm _prettier -c, pnpm eslint

chore: dependencies upgrade 2
  package.json
  pnpm-lock.yaml
Due: pnpm _prettier -c

feat: pino di
  Pocketbase.dockerfile
  docker-compose.yaml
  eslint.config.mjs
  src/client/components/base/base-button.vue
  src/client/create-app.ts
  src/client/entry.browser.ts
  src/client/entry.server.ts
  src/client/index.ts
  src/client/services/api.service.ts
  src/client/services/index.ts
  src/client/services/logger.service.ts
  src/client/store/char-matrix.store.ts
  src/server/middleware/ssr.middleware.ts
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

chore: eslint
  .nvmrc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  rspack/config.base.ts
  rspack/config.server.ts
  src/client/entry.browser.ts
  src/client/pages/page-home.vue
  src/client/router/routes.ts
  src/client/services/api.service.ts
  src/client/services/index.ts
  src/client/store/char-matrix.store.ts
  src/server/services/logger.service.ts
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

chore(repo): fixed
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  rspack/loaders.ts
  rspack/plugins.ts
  src/client/create-app.ts
  src/client/entry.browser.ts
  src/client/services/index.ts
  src/client/sfc-shim.d.ts
  src/client/vue-shim.d.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/services/logger.service.ts
  tsconfig.json
Due: pnpm _prettier -c, pnpm eslint

chore: rsdoctor
  nodemon.json
  package.json
  pnpm-lock.yaml
  rspack/config.browser.ts
  rspack/env.ts
  rspack/plugins.ts
  src/index.ts
  src/server/index.ts
  src/server/middleware/error.middleware.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
Due: pnpm _prettier -c, pnpm eslint

chore: lint staged
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  lint-staged.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm _prettier -c

chore: lint staged 2
  .lintstagedrc
  lint-staged.config.mjs
  package.json
  pnpm-lock.yaml
  rspack/config.browser.ts
  rspack/plugins.ts
Due: pnpm _prettier -c, pnpm eslint

chore: njk lint
  lint-staged.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm _prettier -c

chore: minor improvements
  lint-staged.config.mjs
  package.json
  src/client/components/home/chars-matrix.vue
  src/client/router/routes.ts
  src/client/services/index.ts
  src/server/views/404.njk
  src/server/views/500.njk
  src/server/views/_env.njk
  src/server/views/debug.njk
  src/server/views/index.njk
  tsconfig.json
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

chore: minor improvements
  lint-staged.config.mjs
Due: pnpm _prettier -c

chore: enable tracking csp
  src/server/middleware/helmet.middleware.ts
Due: pnpm _prettier -c, pnpm eslint

chore: enable tracking csp 2
  src/server/middleware/helmet.middleware.ts
Due: pnpm _prettier -c, pnpm eslint

chore: enable tracking csp 3
  src/server/middleware/helmet.middleware.ts
Due: pnpm _prettier -c, pnpm eslint

upgrades
  .dockerignore
  .env.docker
  .temp/redis/.gitkeep
  Dockerfile
  Pocketbase.dockerfile
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  rspack/env.ts
  src/client/pages/page-about.vue
  src/server/env.ts
  src/server/idempotency.config.ts
  src/server/index.ts
  src/server/middleware/language.middleware.ts
  src/server/services/context-builder.service.ts
  src/server/services/idempotency-key.service.ts
  src/server/services/logger.service.ts
  src/server/services/ssr-assets.service.ts
  src/server/utils/get-language.ts
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

feat: deps update
  package.json
  pnpm-lock.yaml
Due: pnpm _prettier -c

feat: prepare fix
  package.json
Due: pnpm _prettier -c

feat: umami
  package.json
  pnpm-lock.yaml
  rspack/config.single.ts
  src/server/middleware/helmet.middleware.ts
Due: pnpm _prettier -c, pnpm eslint

feat: umami 2
  src/server/middleware/helmet.middleware.ts
Due: pnpm _prettier -c, pnpm eslint

chore: updated dependencies
  package.json
  pnpm-lock.yaml
  src/client/create-app.ts
  src/client/entry.browser.ts
  src/client/entry.server.ts
Due: pnpm _prettier -c, pnpm eslint

chore: cleanup and cookie management
  package.json
  src/client/assets/images/bg.png
  src/client/assets/images/bg.webp
  src/client/assets/images/bg2.webp
  src/client/assets/images/bg3.png
  src/client/components/base/base-cookie-consent.vue
  src/client/pages/page-projects.vue
  src/client/styles/main.scss
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

feat: some changes
  package.json
  pnpm-lock.yaml
  src/client/pages/page-projects.vue
  src/client/services/create-pocketbase.service.ts
  src/client/services/index.ts
  src/server/env.ts
  src/server/services/context-builder.service.ts
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

feat: express update
  package.json
  pnpm-lock.yaml
  src/server/index.ts
Due: pnpm _prettier -c, pnpm eslint

chore: deps upgrade
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm _prettier -c

chore: deps upgrade
  package.json
  pnpm-lock.yaml
Due: pnpm _prettier -c

chore: deps upgrade
  package.json
  pnpm-lock.yaml
  src/client/components/base/base-image.vue
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint

feat: pocketbase setup
  .gitignore
  .nvmrc
  .pocketbase/pb_migrations/1745969486_created_projects.js
  .pocketbase/pb_migrations/1745969577_updated_projects.js
  Pocketbase.dockerfile
  docker-compose.yaml
  eslint.config.mjs
  src/client/components/base/base-image.vue
Due: pnpm _prettier -c, pnpm stylelint, pnpm eslint
